n8n workflows/Curcible_Onboarding_Webhook.json
{
  "name": "Curcible — Client Onboarding Webhook",
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Onboarding Form Submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 400],
      "parameters": {
        "path": "curcible-onboarding",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "curcible-onboarding"
    },
    {
      "id": "node-validate",
      "name": "Validate Submission",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 400],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst required = ['company', 'plan', 'outputs'];\nconst missing = required.filter(k => !body[k]);\nif (missing.length > 0) {\n  return [{ json: { valid: false, error: `Missing fields: ${missing.join(', ')}`, body } }];\n}\nif (!body.company.contact_email || !body.company.name) {\n  return [{ json: { valid: false, error: 'Missing company name or email', body } }];\n}\nreturn [{ json: { valid: true, body, client_id: `CLT-${Date.now()}` } }];"
      }
    },
    {
      "id": "node-valid-check",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 400],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "equal"}
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-respond-error",
      "name": "Respond: Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 600],
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ JSON.stringify({ success: false, error: $json.error }) }}"
      }
    },
    {
      "id": "node-respond-ok",
      "name": "Respond: Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 200],
      "parameters": {
        "respondWith": "json",
        "responseCode": 200,
        "responseBody": "={{ JSON.stringify({ success: true, client_id: $json.client_id, message: 'Onboarding received. Curcible will configure your account within 24 hours.' }) }}"
      }
    },
    {
      "id": "node-log",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 200],
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {"__rl": true, "mode": "url", "value": "YOUR_GOOGLE_SHEET_URL"},
        "sheetName": {"__rl": true, "mode": "name", "value": "Clients"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Client ID": "={{ $json.client_id }}",
            "Submitted At": "={{ $json.body.submitted_at }}",
            "Company": "={{ $json.body.company.name }}",
            "Contact Name": "={{ $json.body.company.contact_name }}",
            "Contact Email": "={{ $json.body.company.contact_email }}",
            "Phone": "={{ $json.body.company.contact_phone }}",
            "Industry": "={{ $json.body.company.industry }}",
            "Tier": "={{ $json.body.plan.tier }}",
            "Platforms": "={{ $json.body.plan.platforms.join(', ') }}",
            "Output Email": "={{ $json.body.outputs.summary_email }}",
            "Calendar Email": "={{ $json.body.outputs.calendar_email }}",
            "Timezone": "={{ $json.body.outputs.timezone }}",
            "Status": "Pending Setup"
          }
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {"id": "", "name": "Google OAuth2"}
      }
    },
    {
      "id": "node-notify-curcible",
      "name": "Notify Curcible Team",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1100, 200],
      "parameters": {
        "sendTo": "info@curcible.com",
        "subject": "=🔔 New client onboarded — {{ $json.body.company.name }} ({{ $json.body.plan.tier }})",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><body style=\"font-family:-apple-system,sans-serif;background:#F9F7F8;padding:32px;\">\n<div style=\"max-width:560px;margin:0 auto;background:#fff;border:1px solid rgba(28,22,24,0.10);border-radius:3px;overflow:hidden;\">\n  <div style=\"background:#1C1618;padding:20px 28px;\"><p style=\"font-family:Georgia,serif;font-size:18px;color:#F9F7F8;margin:0;\">C<span style=\"color:#7D5569;\">ur</span>cible<span style=\"color:#7D5569;\">.</span></p><p style=\"font-family:monospace;font-size:10px;color:rgba(249,247,248,.3);letter-spacing:.12em;text-transform:uppercase;margin:4px 0 0;\">New Client Onboarding</p></div>\n  <div style=\"padding:28px;\">\n    <h2 style=\"font-size:18px;font-weight:400;font-family:Georgia,serif;margin:0 0 20px;color:#1C1618;\">{{ $json.body.company.name }} just onboarded</h2>\n    <table style=\"width:100%;border-collapse:collapse;font-size:13px;\">\n      <tr><td style=\"padding:7px 0;color:#847278;border-bottom:1px solid #f0ebee;width:140px;\">Client ID</td><td style=\"padding:7px 0;border-bottom:1px solid #f0ebee;font-weight:600;\">{{ $json.client_id }}</td></tr>\n      <tr><td style=\"padding:7px 0;color:#847278;border-bottom:1px solid #f0ebee;\">Contact</td><td style=\"padding:7px 0;border-bottom:1px solid #f0ebee;\">{{ $json.body.company.contact_name }} · {{ $json.body.company.contact_email }}</td></tr>\n      <tr><td style=\"padding:7px 0;color:#847278;border-bottom:1px solid #f0ebee;\">Industry</td><td style=\"padding:7px 0;border-bottom:1px solid #f0ebee;\">{{ $json.body.company.industry }}</td></tr>\n      <tr><td style=\"padding:7px 0;color:#847278;border-bottom:1px solid #f0ebee;\">Plan</td><td style=\"padding:7px 0;border-bottom:1px solid #f0ebee;font-weight:600;color:#6A4858;\">{{ $json.body.plan.tier | upper }}</td></tr>\n      <tr><td style=\"padding:7px 0;color:#847278;border-bottom:1px solid #f0ebee;\">Platforms</td><td style=\"padding:7px 0;border-bottom:1px solid #f0ebee;\">{{ $json.body.plan.platforms.join(', ') }}</td></tr>\n      <tr><td style=\"padding:7px 0;color:#847278;border-bottom:1px solid #f0ebee;\">Output Email</td><td style=\"padding:7px 0;border-bottom:1px solid #f0ebee;\">{{ $json.body.outputs.summary_email }}</td></tr>\n      <tr><td style=\"padding:7px 0;color:#847278;\">Timezone</td><td style=\"padding:7px 0;\">{{ $json.body.outputs.timezone }}</td></tr>\n    </table>\n    <div style=\"margin-top:24px;padding:14px 18px;background:#F2EEF0;border-radius:3px;font-size:12px;color:#36262C;\">\n      <strong>Action required:</strong> Configure credentials in n8n and activate workflows for this client within 24 hours.\n    </div>\n  </div>\n</div>\n</body></html>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {"id": "", "name": "Google OAuth2"}
      }
    },
    {
      "id": "node-welcome-email",
      "name": "Send Welcome Email to Client",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1320, 200],
      "parameters": {
        "sendTo": "={{ $json.body.company.contact_email }}",
        "subject": "=Welcome to Curcible — your automations are being set up",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#F9F7F8;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n<div style=\"max-width:600px;margin:32px auto;background:#fff;border:1px solid rgba(28,22,24,0.10);border-radius:3px;overflow:hidden;\">\n  <div style=\"background:#1C1618;padding:28px 32px;\">\n    <div style=\"font-family:Georgia,serif;font-size:22px;color:#F9F7F8;letter-spacing:-.025em;\">C<span style=\"color:#7D5569;\">ur</span>cible<span style=\"color:#7D5569;\">.</span></div>\n    <div style=\"color:#CCBEC2;font-size:11px;font-family:monospace;letter-spacing:.16em;text-transform:uppercase;margin-top:4px;\">Welcome aboard</div>\n  </div>\n  <div style=\"padding:36px 32px;\">\n    <h1 style=\"font-family:Georgia,serif;font-size:26px;font-weight:400;letter-spacing:-.02em;color:#1C1618;margin:0 0 12px;\">Hi {{ $json.body.company.contact_name }},</h1>\n    <p style=\"color:#36262C;line-height:1.7;margin:0 0 20px;\">We've received your onboarding submission for <strong>{{ $json.body.company.name }}</strong>. Your automations are being configured and will be live within 24 hours.</p>\n    <div style=\"background:#F2EEF0;border-radius:3px;padding:20px 22px;margin-bottom:24px;\">\n      <p style=\"font-family:monospace;font-size:10px;letter-spacing:.12em;text-transform:uppercase;color:#847278;margin:0 0 12px;\">Your setup</p>\n      <p style=\"margin:0 0 6px;font-size:13.5px;color:#1C1618;\"><strong>Plan:</strong> {{ $json.body.plan.tier | capitalize }}</p>\n      <p style=\"margin:0 0 6px;font-size:13.5px;color:#1C1618;\"><strong>Client ID:</strong> {{ $json.client_id }}</p>\n      <p style=\"margin:0;font-size:13.5px;color:#1C1618;\"><strong>Platforms:</strong> {{ $json.body.plan.platforms.join(', ') }}</p>\n    </div>\n    <p style=\"color:#36262C;line-height:1.7;margin:0 0 20px;\"><strong>Next step:</strong> If you selected Google Meet or Google Calendar, you'll receive a separate OAuth2 authorization email. Click the link to grant access — this is required for calendar and email delivery to work.</p>\n    <p style=\"color:#36262C;line-height:1.7;margin:0 0 28px;\">Questions? Reply to this email or contact <a href=\"mailto:info@curcible.com\" style=\"color:#6A4858;\">info@curcible.com</a>.</p>\n    <p style=\"color:#847278;font-size:13px;\">The Curcible team</p>\n  </div>\n  <div style=\"padding:14px 32px;border-top:1px solid rgba(28,22,24,0.06);background:#F2EEF0;\">\n    <p style=\"margin:0;font-size:11px;color:#847278;font-family:monospace;letter-spacing:.08em;\">CURCIBLE · AUTOMATION, FORGED · CURCIBLE.COM</p>\n  </div>\n</div>\n</body></html>",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {"id": "", "name": "Google OAuth2"}
      }
    }
  ],
  "connections": {
    "Onboarding Form Submission": {
      "main": [[{"node": "Validate Submission", "type": "main", "index": 0}]]
    },
    "Validate Submission": {
      "main": [[{"node": "Is Valid?", "type": "main", "index": 0}]]
    },
    "Is Valid?": {
      "main": [
        [
          {"node": "Respond: Success", "type": "main", "index": 0},
          {"node": "Log to Google Sheets", "type": "main", "index": 0}
        ],
        [{"node": "Respond: Error", "type": "main", "index": 0}]
      ]
    },
    "Log to Google Sheets": {
      "main": [[{"node": "Notify Curcible Team", "type": "main", "index": 0}]]
    },
    "Notify Curcible Team": {
      "main": [[{"node": "Send Welcome Email to Client", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": {"templateCredsSetupCompleted": false}
}
