n8n workflows/P07_MeetCore_workflow.json
{
  "name": "P07 — MeetCore™ AI Meeting Summary & Follow-Up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.zoom.us/v2/users/me/recordings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api",
        "qs": {
          "parameters": {
            "values": [
              { "name": "from", "value": "={{ $now.minus(1, 'hour').format('yyyy-MM-dd') }}" },
              { "name": "to", "value": "={{ $now.format('yyyy-MM-dd') }}" },
              { "name": "page_size", "value": "10" }
            ]
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Get Zoom Recordings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": {
        "zoomOAuth2Api": { "id": "zoom-credential-id", "name": "Zoom account" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "check-meetings",
              "leftValue": "={{ $json.total_records }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Has Recordings?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "meetings",
        "options": {}
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Split Meetings",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// Find the transcript file from recording files\nconst meeting = $input.item.json;\nconst recordingFiles = meeting.recording_files || [];\n\n// Find VTT transcript\nconst transcript = recordingFiles.find(f => f.file_type === 'TRANSCRIPT' || f.file_extension === 'VTT');\nconst videoFile = recordingFiles.find(f => f.file_type === 'MP4');\n\nif (!transcript) {\n  // Skip meetings with no transcript\n  return [];\n}\n\nreturn [{\n  json: {\n    meeting_id: meeting.uuid,\n    topic: meeting.topic,\n    start_time: meeting.start_time,\n    duration: meeting.duration,\n    host_email: meeting.host_email,\n    participants: meeting.participant_count,\n    transcript_url: transcript.download_url,\n    recording_url: videoFile ? videoFile.play_url : null,\n    share_url: meeting.share_url\n  }\n}];"
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Extract Transcript URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.transcript_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zoomOAuth2Api",
        "options": {
          "response": { "response": { "responseFormat": "text" } }
        }
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Download Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "credentials": {
        "zoomOAuth2Api": { "id": "zoom-credential-id", "name": "Zoom account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse VTT transcript to clean plain text\nconst vttContent = $input.item.json.data || $input.item.json.body || '';\nconst meetingData = $input.all()[0].json;\n\n// Strip VTT formatting: timestamps, WEBVTT header, sequence numbers\nconst cleanText = vttContent\n  .split('\\n')\n  .filter(line => {\n    // Remove WEBVTT header\n    if (line.startsWith('WEBVTT')) return false;\n    // Remove timestamp lines (00:00:01.000 --> 00:00:05.000)\n    if (line.match(/^\\d{2}:\\d{2}:\\d{2}/)) return false;\n    // Remove sequence numbers\n    if (line.match(/^\\d+$/)) return false;\n    // Remove empty lines\n    if (line.trim() === '') return false;\n    return true;\n  })\n  .join(' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\n// Truncate to ~12000 chars to stay within GPT context\nconst truncated = cleanText.length > 12000 \n  ? cleanText.substring(0, 12000) + '... [transcript truncated]'\n  : cleanText;\n\nreturn [{\n  json: {\n    ...meetingData,\n    transcript_text: truncated,\n    transcript_length: cleanText.length\n  }\n}];"
      },
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Parse VTT to Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "You are an expert meeting analyst. Analyze the following meeting transcript and produce a structured summary in clean HTML format.\n\nMeeting: {{ $json.topic }}\nDate: {{ $json.start_time }}\nDuration: {{ $json.duration }} minutes\nParticipants: {{ $json.participants }}\n\nReturn ONLY a JSON object with this exact structure:\n{\n  \"summary\": \"2-3 sentence overview of the meeting\",\n  \"decisions\": [\"decision 1\", \"decision 2\"],\n  \"action_items\": [\n    {\"task\": \"task description\", \"owner\": \"person name or Unknown\", \"deadline\": \"date or TBD\"}\n  ],\n  \"follow_up_required\": true/false,\n  \"follow_up_notes\": \"what needs to happen next\",\n  \"key_topics\": [\"topic 1\", \"topic 2\", \"topic 3\"]\n}\n\nTRANSCRIPT:\n{{ $json.transcript_text }}",
              "role": "user"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 1500,
          "responseFormat": "json_object"
        }
      },
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "GPT-4o Summary",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [1780, 200],
      "credentials": {
        "openAiApi": { "id": "openai-credential-id", "name": "OpenAI account" }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge GPT output with meeting metadata\nconst meetingData = $input.all()[0].json;\nlet summary;\n\ntry {\n  const content = meetingData.message?.content || meetingData.choices?.[0]?.message?.content || '{}';\n  summary = typeof content === 'string' ? JSON.parse(content) : content;\n} catch(e) {\n  summary = {\n    summary: 'Summary generation failed - please review transcript manually.',\n    decisions: [],\n    action_items: [],\n    follow_up_required: false,\n    follow_up_notes: '',\n    key_topics: []\n  };\n}\n\n// Build HTML email body\nconst actionItemsHtml = summary.action_items?.map(item => \n  `<tr><td style=\"padding:8px;border-bottom:1px solid #eee\">${item.task}</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${item.owner}</td><td style=\"padding:8px;border-bottom:1px solid #eee\">${item.deadline}</td></tr>`\n).join('') || '<tr><td colspan=\"3\" style=\"padding:8px\">No action items identified</td></tr>';\n\nconst decisionsHtml = summary.decisions?.map(d => `<li style=\"margin-bottom:6px\">${d}</li>`).join('') || '<li>No decisions recorded</li>';\n\nconst emailHtml = `\n<div style=\"font-family:Arial,sans-serif;max-width:680px;margin:0 auto\">\n  <div style=\"background:#1C1618;padding:20px 28px;border-radius:4px 4px 0 0\">\n    <h1 style=\"color:#F9F7F8;font-size:20px;margin:0;font-weight:400\">Meeting Summary</h1>\n    <p style=\"color:#847278;font-size:13px;margin:6px 0 0\">${meetingData.topic} &nbsp;·&nbsp; ${new Date(meetingData.start_time).toLocaleDateString('en-US', {weekday:'long',year:'numeric',month:'long',day:'numeric'})} &nbsp;·&nbsp; ${meetingData.duration} min</p>\n  </div>\n  <div style=\"background:#F9F7F8;padding:24px 28px;border:1px solid #e8e0e3\">\n    <p style=\"color:#36262C;line-height:1.6;margin-top:0\">${summary.summary}</p>\n    \n    <h3 style=\"color:#1C1618;font-size:14px;text-transform:uppercase;letter-spacing:0.12em;margin-bottom:10px\">Key Decisions</h3>\n    <ul style=\"color:#36262C;padding-left:18px;margin-bottom:24px\">${decisionsHtml}</ul>\n    \n    <h3 style=\"color:#1C1618;font-size:14px;text-transform:uppercase;letter-spacing:0.12em;margin-bottom:10px\">Action Items</h3>\n    <table style=\"width:100%;border-collapse:collapse;margin-bottom:24px\">\n      <thead><tr style=\"background:#F2EEF0\">\n        <th style=\"padding:8px;text-align:left;font-size:12px;color:#847278\">Task</th>\n        <th style=\"padding:8px;text-align:left;font-size:12px;color:#847278\">Owner</th>\n        <th style=\"padding:8px;text-align:left;font-size:12px;color:#847278\">Deadline</th>\n      </tr></thead>\n      <tbody>${actionItemsHtml}</tbody>\n    </table>\n    \n    ${summary.follow_up_required ? `<div style=\"background:#fff8e7;border-left:3px solid #e6a817;padding:12px 16px;margin-bottom:24px\"><strong>Follow-up Required:</strong> ${summary.follow_up_notes}</div>` : ''}\n    \n    <p style=\"color:#847278;font-size:12px;margin-bottom:0\">Generated by <strong>Curcible MeetCore™</strong> &nbsp;·&nbsp; <a href=\"${meetingData.share_url}\" style=\"color:#6A4858\">View Recording</a></p>\n  </div>\n</div>`;\n\nreturn [{\n  json: {\n    ...meetingData,\n    summary_data: summary,\n    email_html: emailHtml,\n    email_subject: `Meeting Summary: ${meetingData.topic} — ${new Date(meetingData.start_time).toLocaleDateString()}`\n  }\n}];"
      },
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Build Email HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.host_email }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_html }}",
        "options": {
          "replyTo": "info@curcible.com"
        }
      },
      "id": "a1b2c3d4-0010-0010-0010-000000000010",
      "name": "Send Summary Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2220, 100],
      "credentials": {
        "gmailOAuth2": { "id": "google-credential-id", "name": "Google account" }
      }
    },
    {
      "parameters": {
        "calendarId": "primary",
        "start": "={{ $now.plus(3, 'days').startOf('day').plus(10, 'hours').toISO() }}",
        "end": "={{ $now.plus(3, 'days').startOf('day').plus(10, 'hours').plus(30, 'minutes').toISO() }}",
        "additionalFields": {
          "summary": "Follow-up: {{ $json.topic }}",
          "description": "Follow-up meeting from {{ $json.topic }} on {{ $json.start_time }}.\n\nNotes: {{ $json.summary_data.follow_up_notes }}\n\nAction items to review:\n{{ $json.summary_data.action_items.map(i => '• ' + i.task + ' (' + i.owner + ')').join('\\n') }}",
          "attendees": "={{ [{\"email\": $json.host_email}] }}"
        }
      },
      "id": "a1b2c3d4-0011-0011-0011-000000000011",
      "name": "Create Follow-up Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [2220, 300],
      "credentials": {
        "googleCalendarOAuth2Api": { "id": "google-credential-id", "name": "Google account" }
      }
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [[{ "node": "Get Zoom Recordings", "type": "main", "index": 0 }]]
    },
    "Get Zoom Recordings": {
      "main": [[{ "node": "Has Recordings?", "type": "main", "index": 0 }]]
    },
    "Has Recordings?": {
      "main": [
        [{ "node": "Split Meetings", "type": "main", "index": 0 }],
        []
      ]
    },
    "Split Meetings": {
      "main": [[{ "node": "Extract Transcript URL", "type": "main", "index": 0 }]]
    },
    "Extract Transcript URL": {
      "main": [[{ "node": "Download Transcript", "type": "main", "index": 0 }]]
    },
    "Download Transcript": {
      "main": [[{ "node": "Parse VTT to Text", "type": "main", "index": 0 }]]
    },
    "Parse VTT to Text": {
      "main": [[{ "node": "GPT-4o Summary", "type": "main", "index": 0 }]]
    },
    "GPT-4o Summary": {
      "main": [[{ "node": "Build Email HTML", "type": "main", "index": 0 }]]
    },
    "Build Email HTML": {
      "main": [[
        { "node": "Send Summary Email", "type": "main", "index": 0 },
        { "node": "Create Follow-up Event", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [{ "name": "P07-MeetCore" }],
  "triggerCount": 1,
  "versionId": "1"
}
